.cart-bg-container {
  min-height: 80vh;
  width: 100vw;
}
.cart-items-view-bg-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cart-items-container {
  width: 90%;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .cart-items-container {
    background-color: #f9fbfe;
    width: 70%;
    border: 2px solid #f9fbfe;
    padding: 40px;
  }
  .cart-items-view-bg-container {
    padding: 40px 0px 40px 0px;
  }
}

.cart-items-tablet-view {
  width: 100%;
}

.cart-items-headings-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .cart-items-headings-card {
    display: none;
  }
}

.cart-item-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.2px;
  width: 30%;
  color: #475569;
  text-align: center;
}

.list-of-cart-items {
  padding-left: 0px;
  list-style-type: none;
}

.cart-horizental-rule {
  border: 1px dashed #cbd2d9;
}

.order-summary-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order-total-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #3e4c59;
}

@media (min-width: 768px) {
  .order-total-heading {
    font-size: 20px;
    line-height: 32px;
  }
}

.cart-price-card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: auto;
}

.total-cost-icon {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #3e4c59;
}

.total-cost {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #3e4c59;
}

@media (min-width: 768px) {
  .total-cost-icon {
    font-size: 24px;
    line-height: 32px;
  }
  .total-cost {
    font-size: 24px;
    line-height: 32px;
  }
}

.place-order-button {
  width: 99px;
  height: 32px;

  background: #f7931e;
  border-radius: 8px;
  border-width: 0px;
  cursor: pointer;
  outline: NONE;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.cart-empty-view-bg-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-empty-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-empty-heading {
  font-family: 'DM Sans';

  font-weight: 500;
  font-size: 20px;
  line-height: 32px;

  text-align: center;

  color: #1e293b;
}

.cart-empty-para {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;

  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Light / blue-gray / 500 */

  color: #64748b;
}

.cart-empty-order-now-button {
  font-family: 'DM Sans';

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #ffffff;

  border-width: 0px;
  border-radius: 10px;
  background-color: #f7931e;
  cursor: pointer;
  outline: none;
  height: 32px;
  width: 93px;
}

@media (min-width: 768px) {
  .cart-empty-view-img {
    width: 300px;
  }

  .cart-empty-heading {
    font-size: 32px;
    line-height: 48px;
  }
  .cart-empty-para {
    font-size: 16px;
  }
}

.order-placed-bg-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-placed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-placed-heading {
  font-family: 'DM Sans';

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  text-align: center;

  color: #1e293b;
}

.order-placed-para {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  text-align: center;

  color: #64748b;
}

@media (min-width: 768px) {
  .order-placed-img {
    height: 64px;
    width: 64px;
  }
  .order-placed-heading {
    font-size: 24px;
    line-height: 32px;
  }
  .order-placed-para {
    font-size: 16px;
    line-height: 24px;
  }
}
.go-to-home-page-button {
  width: 131px;
  height: 32px;

  border-width: 0px;
  cursor: pointer;
  outline: none;

  background-color: #f7931e;
  border-radius: 8px;

  font-family: 'DM Sans';

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #ffffff;
}
